@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;700&display=swap');

*{
  margin:0;
  padding:0;
  font-family: 'Dosis', sans-serif;
}

aside{
  width: 300px;
  height: 100vh;
  background: rgb(200,16,46)
}
aside nav{
  font-size: 1em;
  padding:1em 0 1em 1em 
}
aside nav ul{
  list-style:none;
}
aside nav ul a li {
  color: #fff;
  position:relative;
  width:calc(100% - 1em);
  padding:1em 0 1em 1em;
}
aside nav ul a li:hover {
  color: #000;
  background: rgb(255 255 255);
  border-radius: 0.5em 0em 0em 0.5em;
}
aside nav ul a li:hover::before {
    content: '';
    position: absolute;
    background: orange;
    right: 0px;
    top: -1em;
    border-radius: 0em 0em 0.5em 0em;
    border: rgb(200,16,46) 0.5em solid;
    box-shadow: 0.5em 0.5em 0 0 rgb(255 255 255);
}
aside nav ul a li:hover::after {
    content: '';
    position: absolute;
    background: orange;
    right: 0px;
    bottom: -1em;
    border-radius: 0em 0.5em 0.5em 0em;
    border: rgb(200,16,46) 0.5em solid;
    box-shadow: 0.5em -0.5em 0 0 rgb(255 255 255);
}
aside nav ul a{
  color: inherit;
  text-decoration: none;
}
#container{width:100%;}
#left{float:left;width:100px;}
#center{margin:0 auto;width:500px;}
// .center {
//   margin: auto;
//   width: 50%;
//   border: 3px solid green;
//   padding: 10px;
// }