<head>
    <link rel="stylesheet" href="register.component.scss">
    
</head>
<div class="login-box">
    <h2 style="color: black;">Finishing Up</h2>
    <form>
        <div class="user-box">
            <input type="text" name="" required="">
            <label style="color: black;">Country</label>
        </div>
        <div class="user-box">
            <input type="password" name="" required="">
            <label style="color: black;">State</label>
        </div>
        <div class="user-box">
            <input type="password" name="" required="">
            <label style="color: black;">City</label>
        </div>
        <div class="user-box">
            <input type="password" name="" required="" >
            <label style="color: black;">Postal Code</label>
        </div>
        

        <a type="button" (click)="redirect()"> 
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
        </a>

    </form>
</div>